html,body{
	margin: 0;
	padding:0;
	height:100%;
	width:100%;
	font-family:Microsoft YaHei;
	color:azure;
}
#section1{
    height:100%;
    width:100%;
	background-color: #66ccff;
    position: relative;
}
#duang{
	height: 100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
}
.headline{

	position: absolute;
	top:50%;
	left:50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.headline .big{
	font-size: 2em;
}
.headline h2{
	padding-left:100px;
}

.maybe .big{
	font-size: 2em;
}
.maybe{
	margin-top: 40px;
}
a{
	text-decoration: none;
	color: azure;
}
.linklist{
	list-style: none;
}
.linklist a,.linklist li,.linklist .title{
	display: inline-block;
}
.linklist a{
	padding:5px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}
.linklist a:hover{
	background-color: rgba(240, 255, 255, 0.4);
}
.linklist li{
	margin: 5px 10px;
}
.icon {
	font-size:2em !important;
	padding-right:10px;
}
.copy{
	position: absolute;
	bottom: 10px;
	width:100%;
	text-align: center;
	opacity:.6;
}
.copy a{
	display: inline-block;
	border-bottom:1px dotted azure;
	-webkit-transition: font-size .5s;
	-moz-transition: font-size .5s;
	-ms-transition: font-size .5s;
	-o-transition: font-size .5s;
	transition: font-size .5s;
}
.copy a:hover{
	font-size: 1.5em;
}
@media (max-width: 767px){
	.headline {
		position: relative;
		margin-top: 5em;
	}
	ul{
		padding-left: 0;
	}
	.copy{
		position: fixed;
		bottom:10px;
	}
}

li h3,li a{
	margin:0 auto;
}
.tags{
	font-size: 0.9em;
	opacity: 0.5;
	position: absolute;
	margin: 0;
	padding:0;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
	-webkit-animation:poi 1.5s 1;
	-o-animation:poi 1.5s 1;
	animation:poi 1.5s 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@keyframes poi {
	0%{
		-webkit-transform: scale(-1.5) translate(-50%, -50%);
		-moz-transform: scale(-1.5) translate(-50%, -50%);
		-ms-transform: scale(-1.5) translate(-50%, -50%);
		-o-transform: scale(-1.5) translate(-50%, -50%);
		transform: scale(-1.5) translate(-50%, -50%);
		opacity:0;
	}
	50%{
		-webkit-transform: scale(1.5) translate(-50%, -50%);
		-moz-transform: scale(1.5) translate(-50%, -50%);
		-ms-transform: scale(1.5) translate(-50%, -50%);
		-o-transform: scale(1.5) translate(-50%, -50%);
		transform: scale(1.5) translate(-50%, -50%);
		opacity:0.35;
	}
	100%{
		-webkit-transform: scale(1) translate(-50%, -50%);
		-moz-transform: scale(1) translate(-50%, -50%);
		-ms-transform: scale(1) translate(-50%, -50%);
		-o-transform: scale(1) translate(-50%, -50%);
		transform: scale(1) translate(-50%, -50%);
		opacity: 0.5;
	}

}
@-webkit-keyframes poi {
	0%{
		-webkit-transform: scale(-1.5) translate(-50%, -50%);
		-moz-transform: scale(-1.5) translate(-50%, -50%);
		-ms-transform: scale(-1.5) translate(-50%, -50%);
		-o-transform: scale(-1.5) translate(-50%, -50%);
		transform: scale(-1.5) translate(-50%, -50%);
		opacity:0;
	}
	50%{
		-webkit-transform: scale(1.5) translate(-50%, -50%);
		-moz-transform: scale(1.5) translate(-50%, -50%);
		-ms-transform: scale(1.5) translate(-50%, -50%);
		-o-transform: scale(1.5) translate(-50%, -50%);
		transform: scale(1.5) translate(-50%, -50%);
		opacity:0.35;
	}
	100%{
		-webkit-transform: scale(1) translate(-50%, -50%);
		-moz-transform: scale(1) translate(-50%, -50%);
		-ms-transform: scale(1) translate(-50%, -50%);
		-o-transform: scale(1) translate(-50%, -50%);
		transform: scale(1) translate(-50%, -50%);
		opacity: 0.5;
	}
}
@-o-keyframes poi {
	0%{
		-webkit-transform: scale(-1.5) translate(-50%, -50%);
		-moz-transform: scale(-1.5) translate(-50%, -50%);
		-ms-transform: scale(-1.5) translate(-50%, -50%);
		-o-transform: scale(-1.5) translate(-50%, -50%);
		transform: scale(-1.5) translate(-50%, -50%);
		opacity:0;
	}
	50%{
		-webkit-transform: scale(1.5) translate(-50%, -50%);
		-moz-transform: scale(1.5) translate(-50%, -50%);
		-ms-transform: scale(1.5) translate(-50%, -50%);
		-o-transform: scale(1.5) translate(-50%, -50%);
		transform: scale(1.5) translate(-50%, -50%);
		opacity:0.35;
	}
	100%{
		-webkit-transform: scale(1) translate(-50%, -50%);
		-moz-transform: scale(1) translate(-50%, -50%);
		-ms-transform: scale(1) translate(-50%, -50%);
		-o-transform: scale(1) translate(-50%, -50%);
		transform: scale(1) translate(-50%, -50%);
		opacity: 0.5;
	}
}