html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: PingFang SC, RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, STHeiti, 华文黑体, Microsoft YaHei, 微软雅黑, sans-serif;
  color: #333333;
  p {
    margin: 0;
  }
  & body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .bio {
    color: rgba(51, 51, 51, 0.54);
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      font-weight: 300;
      letter-spacing: 1.4px;
      opacity: 0;
      transition: all 1s .5s;

    }
    > span.emphasis {
      font-size: 20px;
      letter-spacing: 2px;
    }
    &.ready > span {
      opacity: 1;
    }
  }

  .content-container {
    position: relative;
    text-align: center;
    h1 {
      font-size: 48px;
      margin: 0;
      font-weight: 100;
      transform: scale(1.1);
      opacity: 0;
      transition: opacity 1s;
      &.ready {
        opacity: 1;
        transform: scale(1);
      }
    }
    .intro-list {
      align-self: center;
      color: rgba(51, 51, 51, 0.62);
      display: flex;
      justify-content: center;
      padding: 0;
      li {
        margin: 6px;
        list-style: none;
        opacity: 0;
        transform: translateY(10px);
        &.ready {
          opacity: 1;
          transform: none;
        }
        &:nth-child(1) {
          transition: all 1s 7s
        }
        &:nth-child(2) {
          transition: all 1s 7.5s
        }
        &:nth-child(3) {
          transition: all 1s 8s
        }
        &:nth-child(4) {
          transition: all 1s 8.5s
        }
        &:nth-child(5) {
          transition: all 1s 9s
        }
        a {
          font-size: 12px;
          font-weight: 100;
          display: inline-block;
          transition: all .5s;
          position: relative;

          &:after {
            transition: all 0.5s;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: rgba(51, 51, 51, 0.54)
          }

          &:hover {
            color: rgba(51, 51, 51, 1);
            &:after {
              width: 100%
            }
          }
        }
      }
    }
  }
  .icp {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    opacity: .12;
    font-weight: 100;
  }

}










