.fade-out-animation{
  animation:fadeOut .5s;
}
.fade-in-animation{
  animation:fadeIn .5s;
}
.avatar-animation{
  animation:avatarShadow 1s ease infinite alternate;
}




@keyframes poi {
  0%{
    transform: scale(0);
    opacity:0;
  }
  50%{
    transform: scale(1.5);
    opacity:0.35;
  }
  100%{
    transform: scale(1);
    opacity: 0.5;
  }

}

@keyframes fadeOut {
  from{
    opacity:1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@keyframes avatarShadow {
  from{
    box-shadow: #FFF 0 0 10px 1px;
  }
  to{
    box-shadow: #FFF 0 0 25px 2px;
  }
}

@keyframes titleDrop {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  20%{
    transform: translateY(-100%);
    opacity: 0;
  }
  23%{
    transform: translateY(0);
    opacity: 1;
  }
  25%{
    transform: translateY(-15%);
    opacity: 1;
  }
  27%{
    transform: translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes introDrop {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  27%{
    transform: translateX(100%);
    opacity: 0;
  }
  40%{
    transform: translateX(0);
    opacity: 1;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes misakaDrop {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  40%{
    transform: translateX(-100%);
    opacity: 0;
  }

  70%{
    transform: translateX(0);
    opacity: 1;
  }
  to{
    transform: translateX(0);
    opacity: .8;
  }
}
@keyframes skillFadeIn {
  from{
    opacity: 0;
  }
  18%{
    opacity: 0;
  }

  30%{
    opacity: 1;
  }
}
@keyframes skillWrapperFadeIn {
  from{
    width: 0;
  }
  30%{
    width: 0;
  }

  50%{
    width: 100%;
  }
}
@keyframes skillInnerFadeIn {
  from{
    width: 100%;
  }
  50%{
    width: 100%;
  }

  70%{
    width: 0;
  }
}
@keyframes workFadeIn {
  from{
    opacity:0;
  }
  32%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}

@keyframes titleDrop2 {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  23% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -15%);
    opacity: 1;
  }
  27% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
  }
  27% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes titleDropMobile {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    transform: translateY(-100%);
    opacity: 0;
  }
  23% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-15%);
    opacity: 1;
  }
  27% {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}