@media (max-width: 767px){
  #section1{
      overflow-y: scroll!important;


    #duang{
        display:none;
    }
    .headline {
       position: relative;
       margin-bottom: 5em;
        transform: translate(0,0)!important;
        top:10% !important;
        left: 0 !important;


     }
          ul{
         padding-left: 0;
    }
  }

  .copy{
    position: fixed;
    bottom:10px;
  }
}
